body{
	font-family: Georgia;
	font-size: 16px;
}
div{
	background-color: rgb(231, 231, 231);
	//border: 1px solid rgb(101, 151, 251);
	border-radius: 15px;
	margin-top: 10px;
}
table{
	
}
th{
	font-weight: bold;
}
tr{
	width: 100%;
}
td{
	width: 16.777777%
}
input{
	width: 200px;
}
button{
	border-radius: 4px;
	margin-top: 10px;
	padding: 7px;
	width: 100px;
}

.headingContainer{
	width: 100%;
	font-size: 26px;
	background-color: rgb(31, 21, 41);
	color: rgb(240, 245, 245);
	padding: 15px;
	text-align: center;
	margin-bottom: 15px;
}
.mainContainer{
	border: none;
	background-color: rgb(255, 255, 255);
	width: 85%;
	margin: auto;
}
.tableContainer{
	padding: 10px;
}
.table{
	width: 100%;
}
.addFieldContainer{
	padding: 10px;
}
.basicHeading{
	font-size: 18px;
	padding: 5px;
	padding-left: 0px;
}